fastapi
uvicorn
python-dotenv
stripe
sqlalchemy
google-api-python-client
google-auth
google-auth-oauthlib
apscheduler
python-telegram-bot==22.3
pytz
web3==6.20.1
eth-account>=0.10.0
pytesseract
pillow
pdfminer.six
psycopg2-binary
